<!--<div class="wrapper">-->
  <!--<form class="search-form">-->
    <!--<mat-form-field class="search-full-width" appearance="fill">-->
      <!--<mat-label>Номер запчасти</mat-label>-->
      <!--<input type="text"-->
             <!--placeholder="Начните вводить номер запчасти"-->
             <!--aria-label="Номер запчасти"-->
             <!--matInput-->
             <!--#searchInput-->
             <!--[formControl]="myControl"-->
             <!--[matAutocomplete]="auto">-->
      <!--<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
        <!--<mat-option *ngFor="let option of filteredOptions | async" [value]="option.title"-->
                    <!--(onSelectionChange)="routerToDetails(option)">-->
          <!--<img [src]="option.image" alt="">{{option.title}}-->
        <!--</mat-option>-->
      <!--</mat-autocomplete>-->
    <!--</mat-form-field>-->
  <!--</form>-->
<!--</div>-->

<!--<div class="cards-container">-->
  <!--<mat-card class="example-card" *ngFor="let detail of details ">-->
    <!--<mat-card-header>-->
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <!--<mat-card-title><b>{{detail.title}}</b></mat-card-title>-->
    <!--</mat-card-header>-->
    <!--<img mat-card-image-->
         <!--src="https://parts.atlantagro.com.ua/image/cache/catalog/image/catalog/john20deere/h164561-350x350.jpg"-->
         <!--alt="Photo of a Shiba Inu">-->
    <!--<mat-card-content>-->
      <!--<p>-->
        <!--{{detail.description}}-->
      <!--</p>-->
      <!--<table>-->
        <!--<tr>-->
          <!--<td>OE Ref</td>-->
          <!--<td>55901200 / DC23289</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>OEM</td>-->
          <!--<td>Kuhn / John Deere</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Совместимость</td>-->
          <!--<td>John Deere 1350, 1360, 1460, 1470 / Kuhn FC250/300</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Вес</td>-->
          <!--<td>2.5kg</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Barcode</td>-->
          <!--<td>5391195164574</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Box Qty</td>-->
          <!--<td>1</td>-->
        <!--</tr>-->
      <!--</table>-->

      <!--<h4>Доступно для заказа</h4>-->

      <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

        <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
              <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

        <!--&lt;!&ndash; Position Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="position">-->
          <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
          <!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Name Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="name">-->
          <!--<th mat-header-cell *matHeaderCellDef> Name </th>-->
          <!--<td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Availability Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="availability">-->
          <!--<th mat-header-cell *matHeaderCellDef> Availability </th>-->
          <!--<td mat-cell *matCellDef="let element">-->
            <!--<span class="badge bg-success-lt">{{element.availability}}</span> </td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="symbol">-->
          <!--<th mat-header-cell *matHeaderCellDef> Symbol </th>-->
          <!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
        <!--</ng-container>-->

        <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
        <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
      <!--</table>-->

<!--<div class="card-wrapper">-->
  <!--<mat-card class="info-card">-->
    <!--<mat-card-header>-->
      <!--<mat-card-title>Genuine Parts</mat-card-title>-->
    <!--</mat-card-header>-->
    <!--<mat-card-content>Genuine John Deere Parts are your best choice for your newer machines.</mat-card-content>-->

    <!--<mat-card-actions>-->
      <!--<button mat-button>Buy Genuine Parts</button>-->
    <!--</mat-card-actions>-->

  <!--</mat-card>-->
  <!--<mat-card class="info-card">-->
    <!--<mat-card-title>Remanufactured Parts</mat-card-title>-->
    <!--<mat-card-content> John Deere Remanufactured (REMAN) parts cut costs not quality with our remanufactured solutions.</mat-card-content>-->

    <!--<mat-card-actions>-->
      <!--<button mat-button>Buy REMAN Parts & Components</button>-->
    <!--</mat-card-actions>-->


  <!--</mat-card>-->
  <!--<mat-card class="info-card">-->
    <!--<mat-card-title> Alternative Parts</mat-card-title>-->
    <!--<mat-card-content>Alternative Parts are an economical solution for John Deere and most other brands of equipment.</mat-card-content>-->

    <!--<mat-card-actions>-->
      <!--<button mat-button>Buy Alternative Parts</button>-->
    <!--</mat-card-actions>-->

    <!--</mat-card>-->
<!--</div>-->
    <!--</mat-card-content>-->
    <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  <!--</mat-card>-->
<!--</div>-->


<!--<app-admin-page></app-admin-page>-->
<app-search-results-page></app-search-results-page>
