<form action="" class="admin-form">
  <div class="">
    <div class="p-float-label">
      <input id="title-input" type="text" pInputText>
      <label for="title-input">Title</label>
    </div>

    <div class="p-float-label">
      <input id="description-input" type="text" pInputText>
      <label for="description-input">Short description</label>
    </div>

    <div class="p-float-label">
      <input id="price-input" type="text" pInputText>
      <label for="price-input">Price</label>
    </div>

  <div class="p-fileupload">
    <p-fileUpload name="myfile[]"></p-fileUpload>
  </div>
  </div>

  <div class="p-inputgroup">

    <div class="p-fileupload">
      <p-fileUpload name="myfile[]"></p-fileUpload>
    </div>

  </div>
</form>





